@mixin minWidth($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin maxWidth($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin for-tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

/* print styles */
@mixin printing {
  @media print {
    @content;
  }
}

/* iPads (landscape) ----------- */
@mixin iPadsLandscape {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
    @content;
  }
}

/* iPads (portrait) ----------- */
@mixin iPadsPortrait {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
    @content;
  }
}

/* Desktops and laptops ----------- */
@mixin desktopLaptops {
  @media only screen and (min-width: 1224px) {
    /* Styles */
    @content;
  }
}

/* Large screens ----------- */
@mixin largeScreens {
  @media only screen and (min-width: 1824px) {
    /* Styles */
    @content;
  }
}

/* iPhone 4 ----------- */
@mixin iPhone4 {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
    @content;
  }
}
