<template>
  <div class="result-container-wrapper">
    <div class="loader" v-if="isLoading">
      <img src="./../assets/img/eclipse-0.5s-201px.gif" alt="" />
    </div>
    <ul>
      <li v-for="(product, index) in searchResult" :key="index">
        <p><span>{{ product.brand }}</span> - {{ product.name}}</p>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    searchResult: Array,
    isLoading: Boolean,
  },
})
export default class SearchResult extends Vue {
  searchResult?: any[];
  isLoading?: boolean;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "./../assets/scss/_variables";

.result-container-wrapper {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 30px;
  padding-left: 20px;
  ul {
    li {
      color: $whiteColor;
      p {
        span {
          font-weight: 600;
        }
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  .loader {
    text-align: center;
    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
    }
  }
}
</style>
