<template>
  <div class="joliemoi-root-page">
    <div class="joliemoi-page-desc">
      <h1>This is a page for<br />beauty product search</h1>
    </div>
    <div class="joliemoi-bg-img">
      <img
        src="./assets/img/beauty-products.jpeg"
        alt=""
      />
    </div>
    <div class="joliemoi-search-area">
      <div class="container">
        <form @submit="onSubmit">
          <input
          class="animate__animated animate__slideInUp"
            type="text"
            v-model="searchKeyWord"
            placeholder="Search for a beauty product"
          />
          <button type="submit" class="animate__animated animate__slideInDown">Search</button>
        </form>
        <SearchResult
          :searchResult="producResponseData"
          :isLoading="loadingStatus"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import SearchResult from "./components/SearchResult.vue";
import { ProductServices } from "./services/products.service";
import { ProductResponse } from "./types/response.types";

@Options({
  components: {
    SearchResult,
  },
})
export default class App extends Vue {
  searchKeyWord: string = "";
  $toast: any;
  productService = new ProductServices();
  searchResult: ProductResponse[] = [];
  isLoading: boolean = false;

  onSubmit(e: any): void {
    e.preventDefault();
    if (this.searchKeyWord === "") {
      this.$toast.info(`Please enter a product name to search...`);
      return;
    }
    this.isLoading = true;
    this.productService
      .searchProduct(this.searchKeyWord)
      .then((res: any) => {
        this.searchResult = res.data;
        if (this.searchResult.length === 0)
          this.$toast.info(`No product found!`);
      })
      .catch((err) => console.log(err))
      .finally(() => (this.isLoading = false));
  }

  get producResponseData() {
    return this.searchResult;
  }

  get loadingStatus() {
    return this.isLoading;
  }
}
</script>

<style lang="scss">
@import "./assets/scss/_variables";
@import "./assets/scss/_utils";

* {
  padding: 0px;
  margin: 0px;
  outline: none;
  box-sizing: border-box;
}

.joliemoi-root-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;
  .joliemoi-page-desc,
  .joliemoi-bg-img {
    flex: 0 0 50%;
    height: 50%;

    // css for screens less than 678
    @include maxWidth(678px) {
      flex: 0 0 100%;
    }
  }
  .joliemoi-page-desc {
    padding: 20px;
    background: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: $blackColor;
      font-size: 1.4rem;
      font-weight: 600;
      text-align: center;
    }
  }
  .joliemoi-bg-img {
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .joliemoi-search-area {
    flex: 1 0 100%;
    height: 50%;
    background: $secondaryColor;
    padding: 30px 20px;
    .container {
      margin: auto;
      width: 600px;
      display: flex;
      align-items: center;
      flex-direction: column;
      form {
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: center;
        input {
          flex: 1 1 80%;
          border: none;
          height: 40px;
          color: $blackColor;
          border-radius: 4px;
          padding: 0.5rem 1rem;
          font-size: 1.2rem;
        }
        button {
          flex: 0 1 20%;
          border-radius: 4px;
          border: none;
          color: $blackColor;
          background: $primaryColor;
          font-weight: 500;
          font-size: 1.08rem;
          cursor: pointer;
        }
      }
    }
    @include maxWidth(678px) {
      .container {
        width: 100%;
        & form {
          input {
            flex: 3;
          }
          button {
            flex: auto;
            padding: 0.5rem 1rem;
          }
        }
      }
    }
    @include maxWidth(390px) {
      .container {
        & form {
          input {
            flex: unset;
            display: inline-block;
            width: 70%;
          }
          button {
            flex: unset;
            display: inline-block;
            width: 30%;
          }
        }
      }
    }
  }
}
</style>
